* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    background: rgb(32, 37, 46);
    background: linear-gradient(
      36deg,
      rgba(32, 37, 46, 1) 0%,
      rgba(70, 69, 121, 1) 47%,
      rgba(95, 110, 145, 1) 100%
    );
}

.movie-list {
  width: 100vw;
  /* height: 100vh; */
  padding-top: 150px;
  padding-bottom: 150px;


  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.movie-card {
  /* border: 1px solid red; */
  width: 300px;
  max-width: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;

  img {
    box-shadow: 1px 0px 37px -3px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 1px 0px 37px -3px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 1px 0px 37px -3px rgba(0, 0, 0, 0.64);

    width: 100%;
    height: 450px;
    object-fit: cover;
    overflow: hidden;
  }

  h2 {
    color: whitesmoke;
  }

  h3 {
    color: rgb(172, 172, 172);
  }

  .rating {
    background-color: rgb(84, 63, 8);
    border: 1px solid white;
    font-size: 1.5em;
    color: white;
    font-weight: 700;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    right: -25px;
  }
}

nav{
  width: 15vw;
  padding-top: 20px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  height: 100vh;
  top: 0;

  .menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    /* border: 1px solid orange; */
    a:hover{
        text-align: center;
        border-left: 8px solid greenyellow;
        width: 100%;
        background-color: rgba(250, 235, 215, 0.221);
    }
  }

  h1{
    font-size: 2em;
    align-items: flex-start;
    color: rgb(214, 201, 199);
  }

  a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 2em;
  }
}